[Unit]
Description=glitter
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=glitter
Group=glitter
PermissionsStartOnly=true
ExecStart=/usr/bin/glitter
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=glitter.log

[Install]
WantedBy=multi-user.target

