[Unit]
Description=tendermint
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=glitter
Group=glitter
PermissionsStartOnly=true
ExecStart=/usr/bin/tendermint node --home /usr/local/glitter/tendermint
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tendermint.log

[Install]
WantedBy=multi-user.target
